@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --color-primary: #571a18;
  --color-secondary: #b08a3a;
  --color-tertiary: #f6f3e8;
  --color-error: #dc2626;

  /* breakpoints */
  --breakpoint-2xs: 350px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;
}

/* cursor pointer for all buttons */
button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

.item-image {
  @apply flex aspect-square w-20 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white p-3 text-4xl dark:border-gray-700 dark:bg-gray-900;
}

.profile-image {
  @apply flex aspect-square w-16 shrink-0 items-center justify-center overflow-hidden rounded-full border border-gray-200 bg-white p-3 text-4xl dark:border-gray-700 dark:bg-gray-900;
}
