@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: "Inter", "sans-serif";
    --color-primary: #571A18;
    --color-secondary: #B08A3A;
    --color-tertiary: #F6F3E8;

    /* breakpoints */
    --breakpoint-2xs: 350px;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
    --breakpoint-4xl: 2560px;
    --breakpoint-5xl: 3840px;
}

/* cursor pointer for all buttons */
button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}
